@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header a{
    margin: 50px;    
}
img{
    display: block;
    margin: auto;
    width: 80%;
}
#retrato{
    display: none;
}
main{
    max-width: 800px;
    width: 90%;
}