@charset "UTF-8";

*{
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    margin: 10px;
}
main{
    display: flex;
    flex-flow: row wrap;
}
.pai{
    display: flex;
    background-color: gray;
    padding: 10px;
    border: solid 2px black;
    margin-top: 10px;
}
.filho{
    background-color: white;
    border: solid 2px black;
    text-align: center;
    padding: 5px;
}
.grupo{
    padding: 10px;
    border: solid 2px black;
    margin: 5px;
}
.conjunto{
    display: flex;
    flex: auto;
    flex-flow: column nowrap;
    align-items: stretch;
    border-top: solid 20px rgb(00, 00, 00, .25);
}
h2{
    margin-top: 50px;
}
h3{
    margin-top: 20px;
}
p{
    max-width: 300px;
}

.botao1, .botao2{
    background-color: yellow;
    padding: 5px;
    box-shadow: 0 0 10px rgb(00, 00, 00, .5);
    border: solid 1px black;
}
.botao1:hover{
    background-color: rgb(180, 180, 0);
}
.aumentar, .diminuir{
    transition: width 1s;
}
/* Configurações gerais */


#g1 .filho{
    flex: auto;
}
#p1.afetado > :nth-child(3){order: -1;}
#p1.afetado > :nth-child(2){order: 1;}

#p2.afetado > :nth-child(1){order: 9;}
#p2.afetado > :nth-child(2){order: 2;}
#p2.afetado > :nth-child(3){order: -4;}
#p2.afetado > :nth-child(4){order: 1;}
#p2.afetado > :nth-child(5){order: 7;}

#p3.afetado > :nth-child(1){order: 5;}
#p3.afetado > :nth-child(3){order: -4;}
#p3.afetado > :nth-child(4){order: 2;}
#p3.afetado > :nth-child(5){order: 6}

/* -------------------------------- */

#g2 .filho{
    flex: auto;
}
#p4{
    flex-flow: row nowrap;
    height: 100px;
}
#p5{
    flex-flow: column nowrap;
    width: calc(100% - 24px);
    min-width: 100px;
}

#g2 .afetado.pai :nth-child(1){align-self: auto;}
#g2 .afetado.pai :nth-child(2){align-self: flex-start;}
#g2 .afetado.pai :nth-child(3){align-self: flex-end;}
#g2 .afetado.pai :nth-child(4){align-self: center;}
#g2 .afetado.pai :nth-child(5){align-self: stretch;}

/* ------------------------------------------ */

#g4 .filho, #g5 .filho{
    flex-basis: 50px;
}

#g4 .pai{
    flex-direction: row;
}
#p6{
    flex-wrap: nowrap;
}
#p7{
    flex-wrap: wrap;
}
#g4 .afetado.pai{
    width: 160px;
}

#g5 .pai :nth-child(2){
    flex-basis: 75px;
}
#p8{
    flex-wrap: nowrap;
}
#p9{
    flex-wrap: wrap;
}
#g5 .afetado.pai{
    width: 130px;
}

/* ----------------------------------- */

#g6{
    display: flex;
    flex-flow: row wrap;
}
#g6 > *{
    flex: auto;
}
#g6 .filho{
    flex-basis: 50px;
}
#g6 .pai{
    width: 192px;
}
#g7 .pai{
    flex-flow: row nowrap;
}
#g8 .pai{
    flex-flow: row wrap;
}
#g8 > *{
    flex: auto;
    margin: 5px;
}
#g9 > *{
    margin: 5px;
}

#p10 .filho, #p14 .filho{flex-shrink: 1; flex-grow: 0;}
#p11 .filho, #p15 .filho{flex-shrink: 0; flex-grow: 0;}
#p12 .filho, #p16 .filho{flex-shrink: 1; flex-grow: 1;}
#p13 .filho, #p17 .filho{flex-shrink: 0; flex-grow: 1;}

#g6 .aumentar.pai{
    width: 256px;
}
#g6 .diminuir.pai{
    width: 160px;
}



#g10{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
#g10 > div{
    flex: auto;
}
img{
    max-width: calc(100vw - 60px);
}
#p26{
    flex-flow: column wrap-reverse;
    height: 120px;
    justify-content: space-between;
    align-content: space-evenly;
}
#p26 > .filho{
    flex: 0 1 30px;
    width: 20%;
}
#p26 :nth-child(3){
    order: 4;
    flex: 1 0 30px;
}
#p26 :nth-child(2){order: 1;}
#p26 :nth-child(4){order: 2;}
#p27 :nth-child(5){order: 3}


@media screen and (min-width: 768px) {
    #g9{
        display: flex;
        flex-flow: column wrap;
        max-height: 500px;
    }
    img{
        width: 40vw;
    }
    #g10 > div{
        flex: 0 0 50vw;
    }
}