@charset "UTF-8";

@media screen and (min-width: 768px) {
    body{
        background-image: linear-gradient(to bottom, #5F2C82, #4B949A);
    }
    #imagem{
        height: 100%;
        width: 30%;
    }
    #conteudo{
        width: calc(70% - 30px);
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    main{
        height: 280px;
        width: 80vw;
    }
    #imagem{
        float: left;
        border-radius: 15px 0 0 15px;
    }
    #conteudo{
        float: right;
        border-radius: 0 15px 15px 0;
    }
}

@media screen and (min-width: 992px) {
    main{
        height: 350px;
        width: 950px;
    }
    #imagem{
        float: right;
        border-radius: 0 15px 15px 0;
    }
    #conteudo{
        float: right;
        border-radius: 15px 0 0 15px;
    }
}